:root {
  --myLightGrey: #f2f2f2;
  --myDarkGrey: #666666;
  --myBlue: #1b8fe2;
}

.my-profile-container {
  margin-bottom: 30px;
}

.imgContainer {
  position: relative;
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
  flex: 0 0 100px;
}

.imgContainer img {
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.location {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.05rem;
}

.fullName {
  font-size: 24px !important;
  font-weight: 400 !important ;
}

.jobTitle {
  color: #666;
  font-size: 20px !important;
  font-weight: 700 !important;
}

button[type='button'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  color: var(--myBlue);
}

button[type='button']:hover {
  text-decoration: underline;
}

button[type='button']:focus {
  outline: none;
}
