:root {
  --myLightGrey: #f2f2f2;
  --myDarkGrey: #666666;
  --myBlue: #1b8fe2;
}

.my-profile-container {
  margin-bottom: 30px;
}

.imgSectionContainer {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  position: relative;
  display: table;
}

@media (min-width: 576px) {
  .imgSectionContainer {
    position: relative;
    display: block;
    margin-bottom: 0;
  }
}

.imgContainer {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
  flex: 0 0 100px;
}

.imgContainer img {
  width: 100%;
  min-height: 100px;
  object-fit: cover;
  object-position: center;
}

.AvailabilityDot {
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin-bottom: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 4;
}

.location {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.05rem;
}

.fullName {
  font-size: 24px !important;
  font-weight: 400 !important ;
}

.jobTitle {
  color: #666;
  font-size: 20px !important;
  font-weight: 700 !important;
}

button[type='button'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  color: var(--myBlue);
}

button[type='button']:hover {
  text-decoration: underline;
}

button[type='button']:focus {
  outline: none;
}
