:root {
  --myLightGrey: #f2f2f2;
  --myDarkGrey: #666666;
  --myBlue: #1b8fe2;
}

.logInContainer {
  padding: 30px 0;
  min-height: 75vh;
}
.noPositionAbsolute {
  position: static;
  transform: unset;
  transition: transform 0s, background-color 0.3s ease-in-out;
  width: 40%;
  min-width: 450px;
  margin: 0 auto;
}

.disclaimer {
  font-size: 11px;
  font-weight: light;
}

.disclaimerLink {
  color: var(--myBlue);
}

.checkbox {
  font-size: 14px;
}

.link:hover {
  text-decoration: none;
}
