:root {
  --myLightGrey: #f2f2f2;
  --myDarkGrey: #666666;
  --myBlue: #1b8fe2;
}

.myButton {
  border-radius: 19px !important;
  font-size: 14px !important;
  line-height: 17px !important;
  padding: 8px 15px !important;
  box-sizing: border-box !important;
  width: 100%;
}

.myButtonAppend {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.myButtonPrepend {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
